mixin dropdown
    //- .dropdown.body-text(class!=attributes.class)
    .dropdown.body-text&attributes(attributes)
        .dropdown__values-input
            span.dropdown__values-input-text
            span.material-icons.dropdown__arrow expand_more
        .dropdown__wrp
            ul.dropdown__input-list