@media (min-width: 992px) {
  .footer-creative_mobile-for-desc.footer-creative {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    .logo {
      display: block;
    }
    .footer-creative {
      &__copyright {
        text-align: center;
        margin: 0 0 23px;
      }
    }
  }
}
