include __widget-list/footer-widgets__widget-list
include __widget-subscribe/footer-widgets__widget-subscribe

mixin footer-widgets(options)
    .footer-widgets.wrp-pd
        .footer-widgets__logo-n-info.footer-widgets__item
            include ../logo/logo
            p.footer-widgets__info 
                |Бронирование номеров в лучшем отеле 2019 
                |года по версии ассоциации «Отельные взгляды»

        each item in options.pageList
            .footer-widgets__item.footer-widgets__nav.footer-widgets__item-short
                +__widgets-list(item)

        .footer-widgets__logo-n-info.footer-widgets__item
            +__widget-subscribe("Подписка")(class="footer-widgets__item")