- let login = true;

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI
        //- link(rel="stylesheet", href=require('./ui.scss').default)
        //- link(rel="stylesheet", href=require('./ui.scss').default)
        //- style
        //-     include ./ui.scss
    body
        .wrapper
            section.section-header.ui-section
                include ../../components/header/header
            - login = false;
            section.section-header.ui-section
                include ../../components/header/header