- let login = true;
include ../../components/footer-creative/footer-creative

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI
        //- link(rel="stylesheet", href=require('./ui.scss').default)
        //- link(rel="stylesheet", href=require('./ui.scss').default)
        //- style
        //-     include ./ui.scss
    body
        .wrapper
            section.section-header.ui-section
                include ../../components/header/header
            - login = false;
            section.section-header.ui-section
                include ../../components/header/header
            section.section-footer.ui-section
                include ../../components/footer/footer
            section.section-footer-creative.ui-section
                +footer-creative()(class="section-footer-creative__elem footer-creative_mobile-for-desc")