- let login = true;
include ../../components/footer-creative/footer-creative

include ../../components/text-field/text-field
include ../../components/subscription-form/subscription-form
include ../../components/date-dropdown/date-dropdown
include ../../components/calendar-field/calendar-field
include ../../components/dropdown/dropdown
include ../../components/btn-checkbox/btn-checkbox
include ../../components/btn-radio/btn-radio
include ../../components/btn-toggle/btn-toggle
include ../../components/btn-like/btn-like
include ../../components/btn-rate/btn-rate
include ../../components/btn-filled/btn-filled
include ../../components/btn-outlined/btn-outlined
include ../../components/btn-text/btn-text 
include ../../components/btn-with-arrow/btn-with-arrow 
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination 
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/btn-checkbox-rich/btn-checkbox-rich
include ../../components/bullet-list/bullet-list
include ../../components/dignity/dignity
include ../../components/review/review

include ../../components/card-search/card-search
include ../../components/card-registration/card-registration
include ../../components/card-login/card-login
include ../../components/card-order/card-order
include ../../components/card-room/card-room





<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI
    body
        .wrapper
            section.section-header.ui-section
                include ../../components/header/header
            - login = false;
            section.section-header.ui-section
                include ../../components/header/header
            section.section-footer.ui-section
                include ../../components/footer/footer
            section.section-footer-creative.ui-section
                +footer-creative()(class="section-footer-creative__elem footer-creative_mobile-for-desc")
            section.section-form-elements.ui-section.wrp-pd
                .section-form-elements__item.section-form-elements__fields-list
                    .section-form-elements__field-block.section-form-elements__text-field-block
                        h3.section-form-elements__name-field.title.title_small Text Field
                        span.section-form-elements__state Default
                        +text-field("text-field-default", "Email", "email")(class="section-form-elements__field-input body-text")
                    .section-form-elements__field-block.section-form-elements__text-field-block-focus
                        h3.section-form-elements__name-field.title.title_small Text Field
                        span.section-form-elements__state Hover / Focus
                        +text-field("text-field-focus", "text", "text", "This is pretty awesome")(class="section-form-elements__field-input text-field_focus body-text")
                    .section-form-elements__field-block.section-form-elements__dropdown-block
                        h3.section-form-elements__name-field.title.title_small dropdown
                        +dropdown()(class="section-form-elements__dropdown dropdown_guests")
                    .section-form-elements__field-block.section-form-elements__text-date-field-block
                        h3.section-form-elements__name-field.title.title_small masked text field
                        +text-field("text-date-field", "")(class="section-form-elements__field-input body-text text-field_date-mask")
                    .section-form-elements__field-block.section-form-elements__date-dropdown-fields-block
                        .section-form-elements__date-dropdown 
                            h3.section-form-elements__name-field.title.title_small date dropdown
                            +calendar-field('date-dropdown-field-default', false, false, 'section-form-elements__date-dropdown-fields-block')(class="section-form-elements__field-input body-text calendar text-field_date-mask")
                        .section-form-elements__date-dropdown 
                            h3.section-form-elements__name-field.title.title_small date dropdown
                            +calendar-field('date-dropdown-field-default', false, "19.08.2019", 'section-form-elements__date-dropdown-fields-block')(class="section-form-elements__field-input body-text calendar text-field_date-mask")
                    .section-form-elements__field-block.section-form-elements__date-dropdown-filter-field-block
                        h3.section-form-elements__name-field.title.title_small filter date dropdown
                        .section-form-elements__date-dropdown-filter-wrp.section-form-elements__short-block
                            +calendar-field('date-dropdown-filter-field-default', false, "19 авг - 23 авг")(class="section-form-elements__field-input section-form-elements__dropdown body-text calendar_range")
                    .section-form-elements__field-block.section-form-elements__email-field-block.section-form-elements__short-block
                        h3.section-form-elements__name-field.title.title_small subscription text field
                        +subscription-form("body-text")(class="section-form-elements__field-input")

                .section-form-elements__item.section-form-elements__btns-list
                    .section-form-elements__btns-block.section-form-elements__checkbox-btns-block
                        h3.section-form-elements__name-field.title.title_small Checkbox Buttons
                        +btn-checkbox("Можно курить", "Можно курить")(class="section-form-elements__checkbox-btn")
                        +btn-checkbox("Можно с питомцами", "Можно с питомцами", true)(class="section-form-elements__checkbox-btn")
                        +btn-checkbox("Можно с гостями", "Можно пригласить гостей (до 10 человек)", true)(class="section-form-elements__checkbox-btn")
                    .section-form-elements__btns-block.section-form-elements__radio-btns-block
                        h3.section-form-elements__name-field.title.title_small Radio Buttons
                        //- form(action="section-form-elements__radio-btns-block-field" name)
                        +btn-radio("sex", "Мужчина", 'мужчина', true)(class="section-form-elements__radio-btn")
                        +btn-radio("sex", "Женщина", 'женщина')(class="section-form-elements__radio-btn")
                    .section-form-elements__btns-block.section-form-elements__toggle-btns-block
                        h3.section-form-elements__name-field.title.title_small Toggle
                        +btn-toggle("offer", "Получать спецпредложения")(class="section-form-elements__toggle-btn")
                        +btn-toggle("offer", "Получать спецпредложения", true)(class="section-form-elements__toggle-btn")
                    .section-form-elements__btns-block.section-form-elements__like-btns-block
                        h3.section-form-elements__name-field.title.title_small Like button
                        +btn-like("like", "2")(class="section-form-elements__like-btn")
                        +btn-like("like", "12")(class="section-form-elements__like-btn btn-like_active")
                    .section-form-elements__btns-block.section-form-elements__rate-btns-block
                        h3.section-form-elements__name-field.title.title_small rate button
                        +btn-rate("like", "4")(class="section-form-elements__rate-btn")
                        +btn-rate("like", "5")(class="section-form-elements__rate-btn")

                .section-form-elements__item.section-form-elements__btns-list
                    .section-form-elements__btns-block.section-form-elements__range-slider-block
                        //- h3.section-form-elements__name-field.title.title_small range slider
                        +range-slider('Range Slider', 0, 15000, 5000, 10000)(class='section-form-elements__range-slider')
                    .section-form-elements__btns-block.section-form-elements__btns-block
                        h3.section-form-elements__name-field.title.title_small Buttons
                        .section-form-elements__btns-block-conten-tblock
                            +btn-filled('click me')(class="section-form-elements__click-me ")
                            +btn-filled('click me')(class="section-form-elements__click-me section-form-elements__click-me_hover")

                        .section-form-elements__btns-block-conten-tblock
                            +btn-outlined('click me')(class=" section-form-elements__click-me ")
                            +btn-outlined('click me')(class="section-form-elements__click-me section-form-elements__click-me_hover")
                        
                        .section-form-elements__btns-block-conten-tblock
                            +btn-text('click me')(class="section-form-elements__click-me title title_small")
                            +btn-text('click me')(class="section-form-elements__click-me section-form-elements__click-me_hover title title_small")
                        .section-form-elements__btns-block-conten-tblock
                            +btn-with-arrow('перейти к оплате')(class="section-form-elements__btn-with-arrow")
                    .section-form-elements__btns-block.section-form-elements__pagination-block
                        h3.section-form-elements__name-field.title.title_small pagination
                        +pagination()(class="section-form-elements__pagination")
             
                .section-form-elements__item.section-form-elements__dropdowns-location-list
                    .section-form-elements__field-block.section-form-elements__dropdown-block.section-form-elements__short-block
                        h3.section-form-elements__name-field.title.title_small dropdown
                        span.section-form-elements__state Default
                        +dropdown()(class="section-form-elements__dropdown dropdown_location", data-values=[{name: "спальни", value: 2},{name:"кровати", value: 2}])
                    .section-form-elements__field-block.section-form-elements__dropdown-block.section-form-elements__short-block
                        h3.section-form-elements__name-field.title.title_small dropdown
                        span.section-form-elements__state expanded
                        +dropdown()(class="section-form-elements__dropdown dropdown_location dropdown_active", data-values=[{name: "спальни", value: 2},{name:"кровати", value: 2}])
                
                .section-form-elements__item.section-form-elements__dropdowns-guests-list
                    h3.section-form-elements__name-field.title.title_small dropdown
                    +dropdown()(class="section-form-elements__dropdown dropdown_guests dropdown_active")
                
                .section-form-elements__item.section-form-elements__dropdowns-guests-list-expanded
                    h3.section-form-elements__name-field.title.title_small dropdown
                    +dropdown()(class="section-form-elements__dropdown dropdown_guests dropdown_active", data-values=[{name: "взрослые", value: 2},{name:"дети", value: 1}])

                .section-form-elements__item.section-form-elements__expandable-checkbox-list-list
                    //- h3.section-form-elements__name-field.title.title_small dropdown
                    -
                        let checkboxData = [
                            {
                                name: "Завтрак",
                                text: "Завтрак",
                                checked: false
                            },
                            {
                                name: "Письменный стол",
                                text: "Письменный стол",
                                checked: true
                            },
                            {
                                name: "Стул для кормления",
                                text: "Стул для кормления",
                                checked: true
                            },
                            {
                                name: "Кроватка",
                                text: "Кроватка",
                                checked: true
                            },
                            {
                                name: "Телевизор",
                                text: "Телевизор",
                                checked: false
                            },
                            {
                                name: "Шампунь",
                                text: "Шампунь",
                                checked: false
                            },
                        ];
                    +expandable-checkbox-list('expandable checkbox list', checkboxData)(class="section-form-elements__expandable-checkbox-list section-form-elements__short-block")
                    +expandable-checkbox-list('expandable checkbox list', checkboxData)(class="section-form-elements__expandable-checkbox-list expandable-checkbox-list_active section-form-elements__short-block")
                
                .section-form-elements__item.section-form-elements__rich-checkbox-btns-list
                    h3.section-form-elements__name-field.title.title_small rich Checkbox Buttons
                    +btn-checkbox-rich('Широкий коридор', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', false)(class="section-form-elements__rich-checkbox-btn")
                    +btn-checkbox-rich('Помощник для инвалидов', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', false)(class="section-form-elements__rich-checkbox-btn")

                .section-form-elements__item.section-form-elements__bullet-list-list
                    h3.section-form-elements__name-field.title.title_small bullet list
                    -
                        let bulletListData = [
                            'Нельзя с питомцами',
                            'Без вечеринок и мероприятий',
                            'Время прибытия — после 13:00, а выезд до 12:00'
                        ]
                    +bullet-list(bulletListData)(class="section-form-elements__bullet-list")


                .section-form-elements__item.section-form-elements__dignity-list
                    +dignity('Комфорт', 'Шумопоглощающие стены', 'tag_faces', 'material-icons')(class='section-form-elements__dignity')
                    +dignity('Удобство', 'Окно в каждой из спален', 'location_city', 'material-icons')(class='section-form-elements__dignity')

                .section-form-elements__item.section-form-elements__review-list
                    +review('Мурад Сарафанов', '5 дней назад', './assets/img/author-avatar.png', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 'like-name', 12, true)(class='section-form-elements__review')

            section.section-cards.ui-section.wrp-pd
                .section-cards__column.section-cards__column
                    +card-search(class='section-cards__search-card section-cards__item ')
                    +card-registration(class='section-cards__registration-card section-cards__item')

                .section-cards__column
                    +card-order(888, 'люкс', '9990', '2179', 'rub')(class='section-cards__order-card section-cards__item')
                    +card-login(class='section-cards__login-card section-cards__item')
                
                .section-cards__column_short
                    .section-cards__calendar.calendar.calendar_range.section-cards__item
                    +card-room(888, 'люкс', '9990', 5, 145, ["./assets/img/room_1.jpg", "./assets/img/room_1.jpg", "./assets/img/room_1.jpg"])(class='section-cards__room-card section-cards__item')
                    +card-room(840, 'люкс', '9900', 4, 65, ["./assets/img/room_2.jpg", "./assets/img/room_2.jpg", "./assets/img/room_2.jpg"])(class='section-cards__room-card section-cards__item')


