body{
    background-color: #E5E5E5;
}

.wrapper{
    padding: 100px 0;
}

.ui-section {
    background-color: #ffffff;
    margin: 40px 0;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.section-header{
}

.section-footer-creative{
    max-width: 768px;
    margin: 40px auto;
    &__elem{
        padding: 120px 0;
    }
}

.section-form-elements{
    $state-color: $color-dark-shade-50;


    padding-top: 140px;
    padding-bottom: 130px;

    display: flex;
    flex-wrap: wrap;
    &__item{
        width: (100%/3)-((10.9%+6.2%)/3);
        margin: 0 0 100px;
        &:first-child{
            margin-right: 10.9%;
        }
        &:nth-child(3n+4){
            margin-right: 10.9%;
        }
        &:nth-child(3n+2){
            margin-right: 6.2%;
        }
    }


    &__short-block{
        width: 100%;
        max-width: 266px;
    }




    &__fields-list{
        //border: 1px solid black;
    }
    &__field-block{
        display: flex;
        flex-wrap: wrap;
        //max-width: 320px;
        justify-content: space-between;
    }
    &__text-field-block{
        margin-bottom: 20px;
    }
    &__text-field-block-focus{
        margin-bottom: 20px;
    }
    &__text-date-field-block{
        margin-bottom: 20px;
    }

    &__dropdown-block{
        margin-bottom: 20px;
    }

    &__email-field-block{
        margin-bottom: 20px;
    }
    &__name-field{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__state{
        color: $state-color;
        text-transform: uppercase;
        font-size: 12px;
    }
    &__field-input{
        width: 100%;
        box-sizing: border-box;
    }
    &__date-dropdown-fields-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0 0 40px;
    }
    &__date-dropdown{

        &:nth-child(1){
            margin-right: 20px;
        }
    }
    &__date-dropdown-filter-field-block{
        margin: 0 0 40px;
    }
    &__dropdowns-location-list{
        //max-width: 266px;
        //border: 1px solid black;
    }
    &__dropdown{
        //width: 100%;
        //max-width: 266px;
        width: 100%;
    }

    &__btns-list{
        //max-width: 260px;
        .section-form-elements__name-field{
            margin-bottom: 16px;
        }
    }

    &__btns-block{
        margin-bottom: 40px;
    }
    

    &__checkbox-btn{
        margin: 0 0 10px;
        &:last-child{
            margin: 0;
        }
    }

    // &__radio-btns-block-wrp{
    //     display: flex;
    //     justify-content: space-between;
    // }

    &__radio-btn{
        margin-right: 20px;
    }

    &__like-btn{
        margin-right: 10px;
    }

    &__rate-btn{
        margin-right: 20px;
    }


    

    &__btns-block-conten-tblock{
        margin: 0 0 30px;
    }

    &__click-me{
        display: inline-block;
        margin: 0 20px 0 0;
    }





    &__dropdowns-location-list{
        height: 250px;
    }

    &__dropdowns-guests-list{
        //max-width: 320px;
    }
    &__dropdowns-guests-list-expanded{
        //max-width: 320px;
        //border: 1px solid black;
    }


    &__rich-checkbox-btns-list{
        .section-form-elements__name-field{
            margin-bottom: 16px;
        }
    }

    &__bullet-list-list{
        .section-form-elements__name-field{
            margin-bottom: 16px;
        }
    }


    &__dignity{
        margin-bottom: 20px;
    }
    

    &__item.section-form-elements__dignity-list{
        margin-bottom: 0;
    }

    &__item.section-form-elements__review-list{
        width: (100%/3*2)-(10.9/2);
        margin-right: 0;
        margin-bottom: 0;
    }
}