body{
    background-color: #E5E5E5;
}

.wrapper{
    padding: 100px 0;
}

.ui-section {
    background-color: #ffffff;
    margin: 40px 0;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.section-header{
}

.section-footer-creative{
    max-width: 768px;
    margin: 40px auto;
    &__elem{
        padding: 120px 0;
    }
}

.section-form-elements{
    $state-color: $color-dark-shade-50;


    padding-top: 140px;
    padding-bottom: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    &__item{
        width: 100%;
        max-width: 320px;
    }
    // &__item{
    //     width: (100%/3)-((10.9%+6.2%)/3);
    //     margin: 0 0 100px;
    //     &:first-child{
    //         margin-right: 10.9%;
    //     }
    //     &:nth-child(3n+4){
    //         margin-right: 10.9%;
    //     }
    //     &:nth-child(3n+2){
    //         margin-right: 6.2%;
    //     }
    // }


    &__short-block{
        width: 100%;
        max-width: 280px;
    }




    &__fields-list{
    }
    &__field-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__text-field-block{
        margin-bottom: 20px;
    }
    &__text-field-block-focus{
        margin-bottom: 20px;
    }
    &__text-date-field-block{
        margin-bottom: 20px;
    }

    &__dropdown-block{
        margin-bottom: 20px;
    }

    &__email-field-block{
        margin-bottom: 20px;
    }
    &__name-field{
        margin: 0 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__state{
        color: $state-color;
        text-transform: uppercase;
        font-size: 12px;
    }
    &__field-input{
        width: 100%;
        box-sizing: border-box;
    }
    &__date-dropdown-filter-wrp{
    }
    &__date-dropdown-fields-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0 0 40px;
    }
    &__date-dropdown{

        &:nth-child(1){
            margin-right: 20px;
        }
    }
    &__date-dropdown-filter-field-block{
        margin: 0 0 40px;
    }
    &__dropdown{
        width: 100%;
    }

    &__btns-list{
        .section-form-elements__name-field{
            margin-bottom: 16px;
        }
    }

    &__btns-block{
        margin-bottom: 40px;
    }
    

    &__checkbox-btn{
        margin: 0 0 10px;
        &:last-child{
            margin: 0;
        }
    }

    &__radio-btn{
        margin-right: 20px;
    }

    &__like-btn{
        margin-right: 10px;
    }

    &__rate-btn{
        margin-right: 20px;
    }


    

    &__range-slider{
        //max-width: 320px;
    }

    &__btns-block-conten-tblock{
        margin: 0 0 30px;
    }

    &__click-me{
        display: inline-block;
        margin: 0 20px 0 0;
    }

    &__btn-with-arrow{
        //max-width: 320px;
    }





    &__dropdowns-location-list{
        height: 290px;
    }

    &__dropdowns-guests-list{
        height: 260px;
    }
    &__dropdowns-guests-list-expanded{
        height: 260px;
    }


    &__expandable-checkbox-list{
        margin-bottom: 20px;
    }

    &__rich-checkbox-btns-list{
        margin-bottom: 40px;
        .section-form-elements__name-field{
            margin-bottom: 16px;
        }
    }

    &__bullet-list-list{
        margin-bottom: 40px;
        .section-form-elements__name-field{
            margin-bottom: 16px;
        }
    }

    // &__dignity-list{
    //     margin-bottom: 20px;
    // }

    &__dignity{
        margin-bottom: 20px;
    }
    

    &__item.section-form-elements__dignity-list{
        margin-bottom: 20px;
    }

    &__item.section-form-elements__review-list{
        //width: (100%/3*2)-(10.9/2); //для больших разрешений
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) { //@media (min-width: 992px) {
    .section-form-elements{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        &__item{
            width: 47.12%;
            &:nth-child(2n+1){
                margin-right: 20px;
            }
        }

        &__date-dropdown-fields-block{
            flex-wrap: wrap;
        }
        &__date-dropdown{
            max-width: 150px;
            &:nth-child(1){
                //margin-right: 0;
                margin: 0 0 20px;
            }
        }

        &__radio-btn{
            margin-bottom: 10px;
        }

        &__click-me{
            margin-bottom: 10px;
        }


        &__item.section-form-elements__review-list{
            //width: (100%/3*2)-(10.9/2); //для больших разрешений
            //width: 100%;
            max-width: 100%;
            margin-right: 12%;
        }
    }
}

@media (min-width: 768px) { //@media (min-width: 992px) {
    .section-form-elements{
        justify-content: space-around;
        &__item{
            width: 44.12%;
            &:nth-child(2n+1){
                margin-right: 20px;
            }
        }

        &__date-dropdown-fields-block{
            flex-wrap: nowrap;
        }
        &__date-dropdown{
            max-width: 150px;
            &:nth-child(1){
                //margin-right: 0;
                margin: 0 20px 0 0;
            }
        }

        &__radio-btn{
            margin-bottom: 0;
        }

        &__click-me{
            margin-bottom: 0;
        }

        &__item.section-form-elements__review-list{
            //width: (100%/3*2)-(10.9/2); //для больших разрешений
            //width: 100%;
            margin-right: 17%;
        }
    }
}

@media (min-width: 992px) { //@media (min-width: 992px) {
    .section-form-elements{
        justify-content: space-around;
        &__item{
            width: 36.12%;
            &:nth-child(2n+1){
                margin-right: 20px;
            }
        }

        &__item.section-form-elements__review-list{
            //width: (100%/3*2)-(10.9/2); //для больших разрешений
            //width: 100%;
            max-width: 711px;
            margin-right: 17%;
        }
    }
}

@media (min-width: 1200px) {
    .section-form-elements{
        justify-content: flex-start;
        &__item{
            width: (100%/3)-((10.9%+6.2%)/3);
            margin: 0 0 100px;
            &:nth-child(2n+1){
                margin-right: 0;
            }
            &:first-child{
                margin-right: 10.9%;
            }
            &:nth-child(3n+4){
                margin-right: 10.9%;
            }
            &:nth-child(3n+2){
                margin-right: 6.2%;
            }
        }

        &__item.section-form-elements__review-list{
            width: (100%/3*2)-(10.9/2); //для больших разрешений
            margin-right: 0;
        }
    }
}




.section-cards{
    background: none;
    box-shadow: none;
    padding-top: 150px;
    padding-bottom: 140px;
    display: flex;

    display: none; //подготовка адаптива


    justify-content: space-between;
    &__column{
        //margin: 0 40px 0 0;
        width: 32.75%;
        &:last-child{
            //margin: 0;
        }
        &_short{
            width: 27.58%;
        }
    }

    &__item{
        //max-width: 380px;
        //width: 30%;
        width: 100%;
        margin-bottom: 40px;
        &:last-child{
            margin: 0;
        }
    }
    
    &__search-card{

    }
    &__order-card{

    }
    &__calendar{
        max-width: 320px;
    }
    &__room-card{
        max-width: 270px;
    }
}