.btn-outlined{
    border: double 2px transparent;
    border-radius: 22px;
    padding: 12px 18px;
    background-image: linear-gradient(white, white), 
        linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    @include small-title;
    text-decoration: none;
    color: $color-purple;
    &:hover{
        background-image: linear-gradient(white, white), 
        linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
    &:active{
        background-image: linear-gradient(white, white), 
        linear-gradient(180deg, rgba(188, 156, 255, 0.75) 0%, rgba(139, 164, 249, 0.75) 100%);
    }
}