include ../btn-like/btn-like


mixin review(options)

    - let checkedBtn = false

    if options 
        if options.likeActive
            - checkedBtn = true


    .review
        .review__author-block
            img.review__author-icon(src=options.authorIcon)
            .review__author-text-block
                .review__author-name= options.authorName
                .review__author-was-online= options.authorWasOnline
        .review__content-block
            .review__btn-like-wrp
                +btn-like({name: options.likeName, value: options.likeValue, checkedBtn: checkedBtn})
            .review__content-text= options.reviewText