include ../title/title

include ../calendar-field/calendar-field
include ../dropdown/dropdown
include ../btn-with-arrow/btn-with-arrow


mixin card-search()
    form(action="", method="get", name="card-search").card-search
        .card-search__title
            +title({type: 'big', text: 'Найдём номера под ваши пожелания'})
        .card-search__date-dropdown-fields-block
            .card-search__date-dropdown-wrp
                .card-search__name-field.card-search__date-dropdown-title
                    +title({type: small, text: 'прибытие'})
                .card-search__date-dropdown
                    +calendar-field({name: 'прибытие', widthElem: 'card-search__date-dropdown-fields-block'})
            .card-search__date-dropdown-wrp
                .card-search__name-field.card-search__date-dropdown-title 
                    +title({type: 'small', text: 'выезд'})
                .card-search__date-dropdown
                    +calendar-field({name: 'выезд', widthElem: 'card-search__date-dropdown-fields-block'})
        .card-search__dropdown-block
            .card-search__name-field
                +title({type: 'small', text: 'гости'})
            .card-search__dropdown
                +dropdown({dropdownType: 'guests'})
        .card-search__btn-with-arrow
            +btn-with-arrow({text: 'подобрать номер'})