.card-search {
  $card-bg: #fff;

  padding: 30px 30px 29px;
  background: $card-bg;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__title {
    margin: 8px 0 22px;
  }
  &__date-dropdown-fields-block {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
  }
  &__date-dropdown-wrp {
    &:first-child {
      margin-right: 20px;
    }
  }
  &__name-field {
    margin: 0 0 5px;
  }

  &__date-dropdown-title {
    margin: 0 0 6px;
  }
  &__dropdown-block {
    margin: 0 0 30px;
  }
}
