extends ../../layout/layout

//- include ../../components/grand-slider/grand-slider
//- include ../../components/card-login/card-login

block variables
    - let title = "Детали номера"

block content
    .room-details-slider
        | room slider