mixin footer-creative()
    .footer-creative(class!=attributes.class)
        include ../logo/logo
        p.footer-creative__copyright.footer-creative__item Copyright &copy 2018 Toxin отель. Все права зачищены.
        .footer-creative__social-link-list.footer-creative__item
            a.footer-creative__social-link(href="#")
                <i class="fab fa-twitter"></i>
            a.footer-creative__social-link(href="#")
                <i class="fab fa-facebook-square"></i>
            a.footer-creative__social-link(href="#")
                <i class="fab fa-instagram"></i>