.btn-with-arrow {
  display: inline-flex;
  justify-content: center;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  padding: 15px 20px;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.75;
  }
  &:focus{
    opacity: 0.5;
  }
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 10px 0 0;
  }
}
