mixin date-dropdown(name)
    input.date-dropdown(class!=attributes.class name=name type=text)
    //- input(type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here")
    input(type="text" id="datepicker-test" data-multiple-dates-separator=" - ")