li.dropdown__input-list-item
    input(type="hidden").dropdown__input
    span.dropdown__input-name.title.title_small
    .dropdown__set-value-block
        .dropdown__set-value-minus
        .dropdown__input-value
        .dropdown__set-value-plus