li.dropdown__input-list-item
    input(type="hidden").dropdown__input
    span.dropdown__input-name.title.title_small
    .dropdown__set-value-block
        .dropdown__set-value-minus.dropdown__set-value-btn -
        .dropdown__input-value.title.title_small
        .dropdown__set-value-plus.dropdown__set-value-btn +