extends ../../layout/layout

include ../../components/grand-slider/grand-slider
include ../../components/card-registration/card-registration

block variables
    - let title = "Регистрация"

block content
    .content-with-grand-slider
        .content-with-grand-slider__slider
            - const slidesUrl = "./assets/img/slides/"
            - let dataSlider = [{url: slidesUrl + "slide-4.jpg"}, {url: slidesUrl + "slide-5.jpg"}]
            +grand-slider({dataSlider: dataSlider})
        .content-with-grand-slider__content.wrp-pd
            .content-with-grand-slider__content-card-registration
                +card-registration({payLink: "/mock-address/change-me", loginLink: "./sign_in.html"})
