.content-with-grand-slider{
    $padding-top: 70px;

    min-height: 100vh;
    position: relative;
    &__slider{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &__content{
        padding-top: $padding-top + 30px;
        padding-bottom: 18px;
        min-height: 100vh;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &-card-search{
            max-width: 380px;
        }
        &-text{
            max-width: 300px;
            text-align: right;
            line-height: 24px;
            align-self: flex-end;
        }
    }
}

@media (min-width: 576px){
    $padding-top: 70px;
    @media (min-height: 735px){
        .content-with-grand-slider{
            &__slider{
                display: block;
            }
            &__content{
                align-items: flex-start;
                padding-top: $padding-top + 72px;
                // padding-top: $padding-top + 10px;
            }
        }
    }
}

