extends ../../layout/layout

block variables
    - let title = "Главная"

block content
    img(src="./123.png")
    .index index
    include ../../components/block/block
    include ../../components/block-three/block-three
    include ../../components/block-four/block-four