extends ../../layout/layout

include ../../components/grand-slider/grand-slider
include ../../components/card-search/card-search

block variables
    - let title = "Главная"

block content
    .content-with-grand-slider
        .content-with-grand-slider__slider
            - const slidesUrl = "./assets/img/slides/"
            - let dataSlider = [{url: slidesUrl + "slide-1.jpg"}, {url: slidesUrl + "slide-2.jpg"}, {url: slidesUrl + "slide-3.jpg"}]
            +grand-slider({dataSlider: dataSlider})
        .content-with-grand-slider__content.wrp-pd
            .content-with-grand-slider__content-card-search
                +card-search({btnUrl: "/search_room.html"})
            .content-with-grand-slider__content-text Лучшие номера для вашей работы, отдыха и просто вдохновения
