include ../../btn-text/btn-text

.calendar__buttons
    +btn-text("очистить")(class="calendar__btn calendar__btn_clear title title_small")
    +btn-text("применить")(class="calendar__btn calendar__btn_apply title title_small")