include ../../btn-text/btn-text

.calendar__buttons
    .calendar__btn.calendar__btn_clear
        +btn-text({text: "очистить"})
    .calendar__btn.calendar__btn_apply
        +btn-text({text: "применить"})