include ../../title/title
include ../../subscription-form/subscription-form

mixin __widget-subscribe(title)
    .footer-widgets__widget-subscribe
        .footer-widgets__widget-subscribe-title
            +title({type: 'small', text: title})
            span.material-icons expand_more
        p.footer-widgets__widget-subscribe-text Получайте специальные предложения и новости сервиса
        +subscription-form()