include ../header-nav/header-nav

mixin header(options)

    header.header.wrp-pd
        include ../logo/logo
        +header-nav({auth: options.auth, pageList: options.pageList, activePage: options.activePage, loginLink: options.loginLink, regLink: options.regLink})