.header{
  min-height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $header-bg;
  box-sizing: border-box;
}