include ../../title/title

mixin __widgets-list(options)
    .footer-widgets__widget-list
        .footer-widgets__widget-list-title
            +title({type: 'small', text: options.title})
            span.material-icons expand_more
        ul.footer-widgets__widget-list-items
            each item in options.list
                li
                    a.footer-widgets__widget-list-link(href=item.url)= item.name