include ../footer-widgets/footer-widgets
include ../footer-creative/footer-creative

footer.footer
    +footer-widgets()(class="footer__widgets wrp-pd")
    +footer-creative()(class="footer__creative wrp-pd")