include ../footer-widgets/footer-widgets
include ../footer-creative/footer-creative

mixin footer()
    footer.footer&attributes(attributes)
        +footer-widgets()(class="footer__widgets wrp-pd")
        +footer-creative()(class="footer__creative wrp-pd")