include ../footer-widgets/footer-widgets
include ../footer-creative/footer-creative

mixin footer(options)

    footer.footer&attributes(attributes)
        +footer-widgets({pageList: options.pageList})
        +footer-creative()