mixin impression-diagram(options)
    .impression-diagram
        //- <canvas class="impression-diagram__diagram" id="myChart" width="400" height="300"></canvas>
        .impression-diagram__diagram-wrp
            <canvas class="impression-diagram__diagram" id="myChart" width="400" height="300"></canvas>