include ../../btn-text/btn-text

.dropdown__button-mod.title.title_small
    .dropdown__btn.dropdown__btn_clear
        +btn-text({text: "очистить"})
    .dropdown__btn.dropdown__btn_apply
        +btn-text({text: "применить"})