include ../../btn-text/btn-text

.dropdown__button-mod.title.title_small
    +btn-text("очистить")(class="dropdown__btn dropdown__btn_clear")
    +btn-text("применить")(class="dropdown__btn dropdown__btn_apply")