$font-family: 'Montserrat', Tahoma, Geneva, sans-serif;

$color-dark-shade: #1f2041;
$color-dark-shade-75: rgba($color-dark-shade, 0.75);
$color-dark-shade-50: rgba($color-dark-shade, 0.5);
$color-dark-shade-25: rgba($color-dark-shade, 0.25);
$color-dark-shade-10: rgba($color-dark-shade, 0.1);
$color-purple: #bc9cff;
$color-green: #6fcf97;


$header-bg: #ffffff;