//-     {
            dataSlider: [
                {url: './url/url', alt"alt text"}
            ]
        }

mixin room-slider(options)
    .room-slider

        .room-slider__slide.room-slider__slide-1
        .room-slider__slide.room-slider__slide-2
        .room-slider__slide.room-slider__slide-3

        //- each item in options.dataSlider
        //-     .room-slider__slide
        //-         img.room-slider__slide-img(src=item.url)