include ../btn-outlined/btn-outlined
include ../btn-filled/btn-filled

.header-nav
    a.header-nav__btn-menu(href="#")
        span.header-nav__btn-menu-lines
    .header-nav__navigation-n-profile
        nav.header-nav__navigation
            a.header-nav__link.header-nav__link_active-page(href="#") О нас
            .header-nav__drop-down
                span.header-nav__drop-down-title.header-nav__link Услуги
                    span.material-icons.header-nav__link expand_more
                .header-nav__drop-down-list
                    a.header-nav__drop-down-link.header-nav__link(href="#") Услуга 1
                    a.header-nav__drop-down-link.header-nav__link(href="#") Услуга 2
                    a.header-nav__drop-down-link.header-nav__link(href="#") Услуга 3
            a.header-nav__link(href="#") Вакансии
            a.header-nav__link(href="#") Новости
            .header-nav__drop-down
                span.header-nav__drop-down-title.header-nav__link Соглашения
                    span.material-icons.header-nav__link expand_more
                .header-nav__drop-down-list
                    a.header-nav__drop-down-link.header-nav__link(href="#") Соглашение 1
                    a.header-nav__drop-down-link.header-nav__link(href="#") Соглашение 2
                    a.header-nav__drop-down-link.header-nav__link(href="#") Соглашение 3
        
        +btn-outlined('войти')(class="header-nav__btn-login btn-outlined_small")
        +btn-filled('зарегистрироваться')(class="header-nav__btn-reg btn-filled_small")