include __item/header-nav__item

include ../btn-outlined/btn-outlined
include ../btn-filled/btn-filled





mixin header-nav(options)
    - let activePage = options.activePage

    .header-nav
        a.header-nav__btn-menu(href="#")
            span.header-nav__btn-menu-lines
        .header-nav__navigation-n-profile
            nav.header-nav__navigation 
                each item in options.pageList
                    -
                         function setActive(list, activePage){
                            list.forEach(listItem => {
                                if(listItem.page == activePage){
                                    listItem.active = true;
                                }else if(listItem.list){
                                    setActive(listItem.list, activePage);
                                }
                            })
                        }

                        let active = setActive(options.pageList, activePage);


                    +__item(item)
            if options.auth
                a.header-nav__profile(href="#") Юлий Цезарь
            else
                .header-nav__login-block
                    .header-nav__btn
                        +btn-outlined({type: 'small', text: 'войти', url: '/mock-address/change-me'})
                    .header-nav__btn
                        +btn-filled({type: 'small', text: 'зарегистрироваться', url: '/mock-address/change-me'})