include __item/header-nav__item

include ../btn-outlined/btn-outlined
include ../btn-filled/btn-filled





mixin header-nav(login, pageList, activePage)
    .header-nav
        a.header-nav__btn-menu(href="#")
            span.header-nav__btn-menu-lines
        .header-nav__navigation-n-profile
            nav.header-nav__navigation 
                //- .test= activePage
                each item in pageList
                    -
                         function setActive(list, activePage){
                            list.forEach(listItem => {
                                if(listItem.page == activePage){
                                    listItem.active = true;
                                }else if(listItem.list){
                                    setActive(listItem.list, activePage);
                                }
                            })
                        }

                        let active = setActive(pageList, activePage);


                    +__item(item)
            
            
            if login
                a.header-nav__profile(href="#") Юлий Цезарь
            else
                +btn-outlined('войти')(class="header-nav__btn-login btn-outlined_small")
                +btn-filled('зарегистрироваться')(class="header-nav__btn-reg btn-filled_small")