extends ../../layout/layout

block variables
    - let title = "Главная"

block content
    .test test
        //- - let blockTwoTitle = 'Новый заголовок'
        //- span #{blockTwoTitle}
        include ../../components/block/block
        
        - const blockTwoTitles = ['title 1', 'title 2', 'title 3', 'title 4'];
        each val, index in blockTwoTitles
            //- const blockTwoClass = 'test__block-two'
            - let title = val;
            include ../../components/block-two/block-two
        mixin list(className)
            ul(class="" +className)
                li 1
                li 2
                li 3
        +list
        +list('cl')