

mixin __item(item)
    if item.list
        .header-nav__item.header-nav__drop-down
            span.header-nav__drop-down-title.header-nav__link= item.page
                span.material-icons.header-nav__link-arrow expand_more
            .header-nav__drop-down-list

                each listItem in item.list 
                    - let active = listItem.active ? "header-nav__link_active-page" : false
                    a.header-nav__drop-down-link.header-nav__link(href=listItem.url, class=active)= listItem.page


    else
        - let active = item.active ? "header-nav__link_active-page" : false
        a.header-nav__item.header-nav__link(href=item.url, class=active)= item.page